body {
  margin: 0;
  overflow: hidden;
  background: white;
  font-family: Arial;
}

#splash {
  position: fixed;
  inset: 0;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.splash-card {
  text-align: center;
}

.logo {
  width: 260px;
}

#startBtn {
  padding: 14px 28px;
  font-size: 20px;
  background: #f26522;
  color: white;
  border: none;
  border-radius: 40px;
}

#game {
  position: fixed;
  inset: 0;
  display: none;
}

video {
  position: absolute;
  inset: 0;
  opacity: 0.01;
  transform: scaleX(-1);
}

canvas {
  position: absolute;
  inset: 0;
}

#staffPanel {
  position: absolute;
  bottom: 20px;
  left: 20px;
  opacity: 0.08;
  transition: 0.5s;
}

#staffPanel:hover {
  opacity: 1;
}

#staffPanel.hidden {
  opacity: 0;
}
